<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>User Form</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <img [src]="profile" [width]="100" [height]="100" />
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Valid Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="number" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">PhoneNumber is required</div>
              <div *ngIf="f.phoneNumber.errors.pattern">Phone number is not valid</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary"> {{id ? 'Edit' : 'Add'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
